@model ShoppingCartVM
@{
    @foreach (var item in Model.ShoppingCartList)
    
    {
        ViewBag.Title = item.Product.Title;
        ViewBag.Description = item.Product.Description;
        ViewBag.ImageUrl = @item.Product.ProductImages.FirstOrDefault().ImageUrl;
    }
}
<head>
    <title>Giỏ hàng của bạn</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="keywords" content="">
    <meta name="description" content="Khách hàng có thể dễ dàng kiểm tra lại danh sách sản phẩm, số lượng, tổng tiền trước khi thanh toán. Ngoài ra, bạn còn có thể có thể thay đổi số lượng sản phẩm, xóa sản phẩm hoặc thêm sản phẩm mới vào giỏ hàng một cách linh hoạt.">
<style>
img[alt="Delete"] {
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    cursor: pointer;
}
</style>
</head>
<form method="post">
    <div class="card shadow border-0">
        <div class="card-header bg-secondary bg-gradient text-light ml-0 py-4">
            <div class="row px-4">
                <div class="col-6">
                    <h1 class="pt-2 text-white">
                        Giỏ Hàng Hiện Có
                    </h1>
                </div>

            </div>
        </div>
        <div class="card-body my-4">
            <div class="row">
            </div>
            <div class="row mb-3 pb-3">
                <div class="col-md-2 offset-md-1">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary text-uppercase mb-5 btn-sm"><small>Tiếp Tục Mua Sắm</small></a>
                </div>
                <div class="col-md-10 offset-md-1">
                    @foreach (var item in Model.ShoppingCartList)
                    {
                        <div class="row border-bottom pb-3">
                            <div class="d-none d-lg-block col-lg-1 text-center py-2">
                                @if (item.Product.ProductImages != null && item.Product.ProductImages.Count() > 0)
                                {
                                    <img src="@item.Product.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded w-100" alt="Hình sản phẩm" />
                                }
                                else
                                {
                                    <img src="https://placehold.co/500x600/png" class="card-img-top rounded w-100 " alt="Hình sản phẩm" />
                                }
                            </div>
                            <div class="col-12 col-lg-6 pt-md-3">
                                <h5 class="text-uppercase text-secondary"><strong>@item.Product.Title</strong></h5>
                                <p><small>@Html.Raw(item.Product.Description)</small></p>
                            </div>
                            <div class="col-12  col-lg-5 text-center row">
                                <div class="col-3 text-md-right pt-2 pt-md-4">
                                    <h6 class="fw-semibold">
                                        @item.Price.ToString(".000đ")
                                        
                                        <span class="text-muted">&nbsp;x&nbsp;</span>@item.Count
                                    </h6>
                                </div>
                                <div class="col-6 col-sm-4 col-lg-6 pt-2">
                                    <div class="w-75 btn-group" role="group">
                                        <a asp-action="minus" asp-route-cartId="@item.Id" class="btn btn-outline-primary bg-gradient py-2 btn-warning">
                                            <h2>-</h2>
                                        </a>
                                        <a asp-action="plus" asp-route-cartId="@item.Id" class="btn btn-outline-primary bg-gradient py-2 btn-warning">
                                            <h2>+</h2>
                                        </a> &nbsp;
                                    </div>

                                </div>
                                <div class="col-3 col-sm-4 col-lg-2 offset-lg-1 text-right pt-2">

                                    <a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-danger bg-gradient py-2 btn-danger">
                                        <img src="~/images/icons8-delete-button-100.png" alt="Delete">
                                    </a>
                                </div>
                            </div>

                        </div>
                    }


                </div>
            </div>
            <div class="card-footer bg-white border-0">
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <ul class="list-group mb-4">
                            <li class="d-flex justify-content-between align-items-center">
                                <h5 class="text-dark fw-semibold text-uppercase"> Tổng (VND)</h5>
                                <h4 class="text-dark fw-bolder">@Model.OrderHeader.OrderTotal.ToString(".000")VND</h4><br />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 offset-md-5">
                        <a asp-action="Summary" class="btn btn-primary border-0 bg-gradient w-100 py-2">Tóm Tắt</a>
                    </div>
                </div>
            </div>
        </div>
</form>