@model IEnumerable<Product>
@{
    @foreach (var item in Model)

    {
        ViewBag.Title = item.Category.Name;
        ViewBag.Description = item.Description;
       
    }
}
<head>
    <title>Trang chủ - Bookstore GI2</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Danh mục sách như một cuốn nhật ký ghi lại hành trình đọc sách của bạn. BKhi bạn muốn tìm lại một cuốn sách đã đọc từ lâu, danh mục sách sẽ giúp bạn nhanh chóng tìm thấy.">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/vendor.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="tabs-header d-flex justify-content-between border-bottom my-5">
    
    @foreach (var product in Model)
    {
        <h1>Thể loại: @product.Category.Name</h1>
    }
</div>
<div class="row pb-3">
    @if (Model.Any())
                    {
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                        @if (product.ProductImages != null && product.ProductImages.Count() > 0)
                        {
                            <img src="@product.ProductImages.FirstOrDefault().ImageUrl" style="width: 100%; height: 400px; object-fit: cover;" class="card-img-top rounded" alt="Hình sản phẩm" />
                        }
                        else
                        {
                            <img src="https://placehold.co/500x600/png" style="width: 100%; height: 400px; object-fit: cover;" class="card-img-top rounded" alt="Hình sản phẩm" />
                        }
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                <p class="card-title text-warning text-center">Viết Bởi <b>@product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    Giá Gốc:
                                    <span class="text-decoration-line-through">
                                        @product.ListPrice.ToString(".000")VND
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    Sale:
                                    <span>
                                        @product.Price100.ToString(".000")VND
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details"
                               asp-route-productId="@product.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Chi tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
        }
        else
        {
            <h2>Không có sản phẩm nào thuộc danh mục này.</h2>
        }
    </div>
</body>