@model IEnumerable<Product>
@{
    var firstProduct = Model.FirstOrDefault();
    if (firstProduct != null)
    {
        ViewBag.Title = firstProduct.Title;
        ViewBag.Description = firstProduct.Description;
       
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Khám phá thế giới sách phong phú chỉ với vài cú click chuột. Cửa hàng sách trực tuyến của chúng tôi mang đến cho bạn trải nghiệm mua sắm tiện lợi, nhanh chóng và thú vị.">

    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.Description" />
    <meta property="og:url" content="https://www.yourdomain.com" />
    <meta property="og:image" content="@ViewBag.ImageUrl" />

    <script type="text/javascript" src="//platform-api.sharethis.com/js/share.js#button=custom&amp;property=YOUR_PUBLISHER_ID"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/vendor.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        body {
            font-family: "Montserrat", sans-serif;
            background:#FFF5EE;
        }

        .w3-wide, h1, h2, h3, h4, h5, h6 {
            font-family: "Montserrat", sans-serif;
        }

        .mySlides {
            display: none;
        }

        .w3-left, .w3-right, .w3-badge {
            cursor: pointer;
        }

        .w3-badge {
            height: 10px;
            width: 20px;
            padding: 0;
        }
        .icon-container {
  position: absolute; /* Make icon container position absolute */
  bottom: 40px;  /* Position icon 10px from the bottom */
  right: 170px;   /* Position icon 10px from the right */
  display: inline-block; /* Ensure icon stays on the same line */
  vertical-align: middle;
        }

        .custom-button {
            background-color: #cfe2ff;
            color: black; /* Chọn màu chữ hợp lý để dễ đọc */
        }
    </style>
</head>
<body>
    <a class="w3-button w3-blue"><h2>Thể Loại</h2></a>
    
@foreach (var product in Model)
{
        <a class="w3-button custom-button" asp-action="category" asp-route-categoryId="@product.CategoryID"><h3>@product.Category.Name</h3></a>
}
    
    <div class="main" style="margin-top: 10px; display: flex;">
        <!-- Phần slider ở bên trái -->
        <div class="w3-content w3-display-container" style="width: 100%; height: 770px; object-fit: cover;" ; flex-grow: 1;">
            <img class="mySlides" src="~/Images/anh0.jpg" style="width: 100%; height: 770px; object-fit: cover;" alt="Slide 1" style="width:100%">
            <img class="mySlides" src="~/Images/anh0-1.png" style="width: 100%; height: 770px; object-fit: cover;" alt="Slide 2" style="width:100%">
            <img class="mySlides" src="~/Images/anh0.3.jpg" style="width: 100%; height: 770px; object-fit: cover;" alt="Slide 3" style="width:100%">
            <img class="mySlides" src="~/Images/anh4.png" style="width: 100%; height: 770px; object-fit: cover;" alt="Slide 4" style="width:100%">
            <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
            </div>
        </div>



        <!-- Phần hình ảnh và liên kết bên phải -->
        <div class="right-images" style="display: flex; flex-direction: column; margin-left: 20px;">
            <a class="w3-button w3-yellow" asp-action="category" asp-route-categoryId=4 style="display: inline-block; text-align: center; border-radius: 10px; border: 3px solid green;margin-bottom: 20px;">
                <img src="~/Images/anh1.jpg" style="width: 100%; height: 200px; object-fit: cover;" alt="Sản phẩm mới" style="width: 200px; margin-bottom: 10px; display: block;">
                <span style="display: block; font-size: 20px; font-weight: bold;">Sách Mới</span>
            </a>
            <a class="w3-button w3-red" asp-action="category" asp-route-categoryId=2 style="display: inline-block; text-align: center; border-radius: 10px; border: 3px solid green;margin-bottom: 20px;">
                <img src="~/Images/anh2.jpg" style="width: 100%; height: 200px; object-fit: cover;" alt="Sản phẩm bán chạy" style="width: 200px; margin-bottom: 10px; display: block;">
                <span style="display: block; font-size: 20px; font-weight: bold;">Bán Chạy</span>
            </a>
            <a class="w3-button w3-blue" asp-action="category" asp-route-categoryId=5 style="display: inline-block; text-align: center; border-radius: 10px; border: 3px solid green;">
                <img src="~/Images/anh3.jpg" style="width: 100%; height: 200px; object-fit: cover;" alt="Sản phẩm giảm giá" style="width: 200px; margin-bottom: 10px; display: block;">
                <span style="display: block; font-size: 20px; font-weight: bold;">Giảm Giá</span>
            </a>
        </div>


    </div>

    <section class="py-5 overflow-hidden">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="section-header d-flex flex-wrap flex-wrap justify-content-between mb-5">
                        @*   --tác giả--- *@

                        <h2 class="section-title">Tác giả</h2>

                        <div class="d-flex align-items-center">
                            <a href="#" class="btn-link text-decoration-none">Tất cả →</a>
                            <div class="swiper-buttons">
                                <button class="swiper-prev products-carousel-prev btn btn-primary">❮</button>
                                <button class="swiper-next products-carousel-next btn btn-primary">❯</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">


                    <div class="row pb-3">
                        @foreach (var product in Model)
                        {
                            <div class="col-lg-3 col-sm-6">
                                <div class="row p-2">
                                    <div class="col-12 p-1">
                                        <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                                            @if (product.ProductImages != null && product.ProductImages.Count() > 0)
                                            {
                                                <img src="@product.ProductImages.FirstOrDefault().ImageUrl" style="width: 100%; height: 200px; object-fit: cover;" class="card-img-top rounded" alt="Hình tác giả" />
                                            }
                                            else
                                            {
                                                <img src="https://placehold.co/500x600/png" style="width: 100%; height: 200px; object-fit: cover;" class="card-img-top rounded" alt="Hình tác giả" />
                                            }
                                            <div class="card-body pb-0">
                                                <div class="pl-1">
                                                    <p class="card-title text-warning text-center"><h3>@product.Author</h3></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>


    <section class="py-5">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">

                    <div class="bootstrap-tabs product-tabs">
                        <div class="tabs-header d-flex justify-content-between border-bottom my-5">

                            <h3>Sản phẩm phổ biến nhất</h3>

                        </div>
                        <div class="row pb-3">
                            @foreach (var product in Model)
                            {
                                <div class="col-lg-3 col-sm-6">
                                    <div class="row p-2">
                                        <div class="col-12 p-1">
                                            <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                                                @if (product.ProductImages != null && product.ProductImages.Count() > 0)
                                                {
                                                    <img src="@product.ProductImages.FirstOrDefault().ImageUrl" style="width: 100%; height: 400px; object-fit: cover;" class="card-img-top rounded" alt="Hình sản phẩm" />
                                                }
                                                else
                                                {
                                                    <img src="https://placehold.co/500x600/png" style="width: 100%; height: 400px; object-fit: cover;" class="card-img-top rounded" alt="Hình sản phẩm" />
                                                }

                                                <div class="card-body pb-0">
                                                    <div class="pl-1">
                                                        <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                                        <p class="card-title text-warning text-center">Viết Bởi <b>@product.Author</b></p>
                                                    </div>
                                                    <div class="pl-1">
                                                        <p class="text-dark text-opacity-75 text-center mb-0">
                                                            Giá Gốc:
                                                            <span class="text-decoration-line-through">
                                                                @product.ListPrice.ToString(".000")VND
                                                            </span>
                                                        </p>
                                                    </div>
                                                    <div class="pl-1">
                                                        <p class="text-dark text-opacity-75 text-center">
                                                            Sale:
                                                            <span>
                                                                @product.Price100.ToString(".000")VND
                                                            </span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <a asp-action="Details"
                                                       asp-route-productId="@product.Id"
                                                       class="btn btn-primary bg-gradient border-0 form-control">
                                                        Chi tiết
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="py-5">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-6">
                    <div class="banner-ad bg-danger mb-3" style="background: url('images/ad-image-3.png');background-repeat: no-repeat;background-position: right bottom;">
                        <div class="banner-content p-5">

                            <div class="categories text-primary fs-3 fw-bold">Giảm giá 25%</div>
                            <h3 class="banner-title">Fortune of Time</h3>
                            <p>Very tasty & creamy vanilla flavour creamy muffins.</p>
                            <a asp-action="Details"
                               asp-route-productId=1 class="btn btn-dark text-uppercase">MUA</a>

                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner-ad bg-info" style="background: url('images/ad-image-4.png');background-repeat: no-repeat;background-position: right bottom;">
                        <div class="banner-content p-5">

                            <div class="categories text-primary fs-3 fw-bold">Giảm giá 30%</div>
                            <h3 class="banner-title">Dark Skies</h3>
                            <p>Very tasty & creamy vanilla flavour creamy muffins.</p>
                            <a asp-action="Details"
                               asp-route-productId=2 class="btn btn-dark text-uppercase">MUA</a>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="py-5 overflow-hidden">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="section-header d-flex flex-wrap justify-content-between my-5">

                        <h2 class="section-title">Sản phẩm mới</h2>

                        <div class="d-flex align-items-center">
                            <a href="#" class="btn-link text-decoration-none">Tất cả →</a>
                            <div class="swiper-buttons">
                                <button class="swiper-prev products-carousel-prev btn btn-primary">❮</button>
                                <button class="swiper-next products-carousel-next btn btn-primary">❯</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="products-carousel swiper">
                        <div class="swiper-wrapper">


                            <div class="row pb-3">
                                @foreach (var product in Model)
                                {
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="row p-2">
                                            <div class="col-12 p-1">
                                                <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                                                    @if (product.ProductImages != null && product.ProductImages.Count() > 0)
                                                    {
                                                        <img src="@product.ProductImages.FirstOrDefault().ImageUrl" style="width: 100%; height: 400px; object-fit: cover;" class="card-img-top rounded" alt="Hình sản phẩm" />
                                                    }
                                                    else
                                                    {
                                                        <img src="https://placehold.co/500x600/png" style="width: 100%; height: 400px; object-fit: cover;" class="card-img-top rounded" alt="Hình sản phẩm" />
                                                    }

                                                    <div class="card-body pb-0">
                                                        <div class="pl-1">
                                                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                                            <p class="card-title text-warning text-center">Viết Bởi <b>@product.Author</b></p>
                                                        </div>
                                                        <div class="pl-1">
                                                            <p class="text-dark text-opacity-75 text-center mb-0">
                                                                Giá Gốc:
                                                                <span class="text-decoration-line-through">
                                                                    @product.ListPrice.ToString(".000")VND
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="pl-1">
                                                            <p class="text-dark text-opacity-75 text-center">
                                                                Sale:
                                                                <span>
                                                                    @product.Price100.ToString(".000")VND
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <a asp-action="Details"
                                                           asp-route-productId="@product.Id"
                                                           class="btn btn-primary bg-gradient border-0 form-control">
                                                            Chi tiết
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- / products-carousel -->

                        </div>
                    </div>
                </div>
    </section>

    <section class="py-5">
        <div class="container-fluid">

            <div class="bg-secondary py-5 my-5 rounded-5" style="background: url('images/bg-leaves-img-pattern.png') no-repeat;">
                <div class="container my-5">
                    <div class="row">
                        <div class="col-md-6 p-5">
                            <div class="section-header">
                                <h2 class="section-title display-4">Nhận ngay <span class="text-primary">Voucher giảm 20%</span> cho lần đầu mua</h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dictumst amet, metus, sit massa posuere maecenas. At tellus ut nunc amet vel egestas.</p>
                        </div>
                        <div class="col-md-6 p-5">
                            <form>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Tên</label>
                                    <input type="text"
                                           class="form-control form-control-lg" name="name" id="name" placeholder="Hasaki Nguyen">
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Email</label>
                                    <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="abc@mail.com">
                                </div>
                                <div class="form-check form-check-inline mb-3">
                                    <label class="form-check-label" for="subscribe">
                                        <input class="form-check-input" type="checkbox" id="subscribe" value="subscribe">
                                        Đăng ký cho người mới
                                    </label>
                                </div>
                                <div class="d-grid gap-2">
                                    <button type="submit" class="btn btn-dark btn-lg">Gửi</button>
                                </div>
                            </form>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>


    <section class="py-5 my-5">
        <div class="container-fluid">

            <div class="bg-warning py-5 rounded-5" style="background-image: url('images/bg-pattern-2.png') no-repeat;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="~/images/product/41ba8176-a85b-40cc-80de-d7605bff3526.jpg" style="width: 100%; height: 700px; object-fit: cover;" alt="phone" class="image-float img-fluid">
                        </div>
                        <div class="col-md-8">
                            <h2 class="my-5">Thiên đường tri thức</h2>
                            <p>Khách hàng rất quan trọng, khách hàng sẽ được khách hàng theo đuổi. Kẻ sinh ra tự do không biết psryroin bằng mũi tên mà bằng đôi chân. Nhưng tốt nhất là đặt mục tiêu vào mục tiêu và chiếc bình. Anh ta luôn thèm ăn và luôn bám sát các mục tiêu. Amet tâng bốc kẻ tra tấn hiện diện trước cuộc đời. A, đối với tuổi già quý giá của tôi thật tuyệt vời. Đối với mũi tên, nhưng đối với bàn chân thì không có liberolectus và psryroin.</p>
                            <div class="d-flex gap-2 flex-wrap">
                                <img src="~/images/lawn_leaf.jpg" style="width: 100%; height: 200px; object-fit: cover;" alt="app-store">
                                <img src="~/images/products/product-4/6b702e26-aa2b-47b1-bab3-f885486939e3.jpg" style="width: 100%; height: 200px; object-fit: cover;" alt="google-play">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    @* Tag chân trang *@
    <section class="py-5">
        <div class="container-fluid">
            <h2 class="my-5">Sản phẩm được quan tâm nhiều</h2>
           
@foreach (var product in Model)
{
                <a asp-action="Details"
                   asp-route-productId="@product.Id" class="btn btn-warning me-2 mb-2">@product.Title</a>
}
            <a href="#" class="btn btn-warning me-2 mb-2">Angie’s Boomchickapop Corn</a>
            <a href="#" class="btn btn-warning me-2 mb-2">Salty kettle Corn</a>
            <a href="#" class="btn btn-warning me-2 mb-2">Chobani Greek Yogurt</a>
            <a href="#" class="btn btn-warning me-2 mb-2">Sweet Vanilla Yogurt</a>
            <a href="#" class="btn btn-warning me-2 mb-2">Foster Farms Takeout Crispy wings</a>
            <a href="#" class="btn btn-warning me-2 mb-2">Warrior Blend Organic</a>
            <a href="#" class="btn btn-warning me-2 mb-2">Chao Cheese Creamy</a>
            <a href="#" class="btn btn-warning me-2 mb-2">Chicken meatballs</a>
            <a href="#" class="btn btn-warning me-2 mb-2">Harry Potter</a>
            <a href="#" class="btn btn-warning me-2 mb-2">Nấu ăn kinh điển</a>
            <a href="#" class="btn btn-warning me-2 mb-2">Ngôi làng ngủ</a>
            <a href="#" class="btn btn-warning me-2 mb-2">Ngoại giới và nội giới</a>
            <a href="#" class="btn btn-warning me-2 mb-2">Tiếng Anh Giao Tiếp</a>

        </div>
    </section>

    <section class="py-5">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-5">
                <div class="col">
                    <div class="card mb-3 border-0">
                        <div class="row">
                            <div class="col-md-2 text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M21.5 15a3 3 0 0 0-1.9-2.78l1.87-7a1 1 0 0 0-.18-.87A1 1 0 0 0 20.5 4H6.8l-.33-1.26A1 1 0 0 0 5.5 2h-2v2h1.23l2.48 9.26a1 1 0 0 0 1 .74H18.5a1 1 0 0 1 0 2h-13a1 1 0 0 0 0 2h1.18a3 3 0 1 0 5.64 0h2.36a3 3 0 1 0 5.82 1a2.94 2.94 0 0 0-.4-1.47A3 3 0 0 0 21.5 15Zm-3.91-3H9L7.34 6H19.2ZM9.5 20a1 1 0 1 1 1-1a1 1 0 0 1-1 1Zm8 0a1 1 0 1 1 1-1a1 1 0 0 1-1 1Z" /></svg>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body p-0">
                                    <h5>Giao nhanh</h5>
                                    <p class="card-text">Ở nhà và chờ nhận hàng thôi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3 border-0">
                        <div class="row">
                            <div class="col-md-2 text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M19.63 3.65a1 1 0 0 0-.84-.2a8 8 0 0 1-6.22-1.27a1 1 0 0 0-1.14 0a8 8 0 0 1-6.22 1.27a1 1 0 0 0-.84.2a1 1 0 0 0-.37.78v7.45a9 9 0 0 0 3.77 7.33l3.65 2.6a1 1 0 0 0 1.16 0l3.65-2.6A9 9 0 0 0 20 11.88V4.43a1 1 0 0 0-.37-.78ZM18 11.88a7 7 0 0 1-2.93 5.7L12 19.77l-3.07-2.19A7 7 0 0 1 6 11.88v-6.3a10 10 0 0 0 6-1.39a10 10 0 0 0 6 1.39Zm-4.46-2.29l-2.69 2.7l-.89-.9a1 1 0 0 0-1.42 1.42l1.6 1.6a1 1 0 0 0 1.42 0L15 11a1 1 0 0 0-1.42-1.42Z" /></svg>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body p-0">
                                    <h5>Thanh toán an toàn</h5>
                                    <p class="card-text">Bảo mật tài khoản của khách hàng.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3 border-0">
                        <div class="row">
                            <div class="col-md-2 text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M22 5H2a1 1 0 0 0-1 1v4a3 3 0 0 0 2 2.82V22a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1v-9.18A3 3 0 0 0 23 10V6a1 1 0 0 0-1-1Zm-7 2h2v3a1 1 0 0 1-2 0Zm-4 0h2v3a1 1 0 0 1-2 0ZM7 7h2v3a1 1 0 0 1-2 0Zm-3 4a1 1 0 0 1-1-1V7h2v3a1 1 0 0 1-1 1Zm10 10h-4v-2a2 2 0 0 1 4 0Zm5 0h-3v-2a4 4 0 0 0-8 0v2H5v-8.18a3.17 3.17 0 0 0 1-.6a3 3 0 0 0 4 0a3 3 0 0 0 4 0a3 3 0 0 0 4 0a3.17 3.17 0 0 0 1 .6Zm2-11a1 1 0 0 1-2 0V7h2ZM4.3 3H20a1 1 0 0 0 0-2H4.3a1 1 0 0 0 0 2Z" /></svg>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body p-0">
                                    <h5>Chất lượng</h5>
                                    <p class="card-text">Sản phẩm giống mô tả đến 100%.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-3 border-0">
                        <div class="row">
                            <div class="col-md-2 text-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M12 8.35a3.07 3.07 0 0 0-3.54.53a3 3 0 0 0 0 4.24L11.29 16a1 1 0 0 0 1.42 0l2.83-2.83a3 3 0 0 0 0-4.24A3.07 3.07 0 0 0 12 8.35Zm2.12 3.36L12 13.83l-2.12-2.12a1 1 0 0 1 0-1.42a1 1 0 0 1 1.41 0a1 1 0 0 0 1.42 0a1 1 0 0 1 1.41 0a1 1 0 0 1 0 1.42ZM12 2A10 10 0 0 0 2 12a9.89 9.89 0 0 0 2.26 6.33l-2 2a1 1 0 0 0-.21 1.09A1 1 0 0 0 3 22h9a10 10 0 0 0 0-20Zm0 18H5.41l.93-.93a1 1 0 0 0 0-1.41A8 8 0 1 1 12 20Z" /></svg>
                            </div>
                            <div class="col-md-10">
                                <div class="card-body p-0">
                                    <h5>Miễn phí giao hàng</h5>
                                    <p class="card-text">Các quá đơn đạt mốc nhất định được miễn phí vận chuyển.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer class="py-5">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-menu">
                        <img src="~/images/book.png" style="width: 100%; height: 100px; object-fit: cover;" alt="logo">
                        <div class="social-links mt-5">
                            <ul class="d-flex list-unstyled gap-2">
                               
                                
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6">
                    <div class="footer-menu">
                        <h5 class="widget-title">BOOKSTORE</h5>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item">
                                <a href="#" class="nav-link">About us</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="nav-link">Điều khoản </a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="nav-link">Giới thiệu</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-6">
                    <div class="footer-menu">
                        <h5 class="widget-title">Dịch vụ khách hàng</h5>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item">
                                <a href="#" class="nav-link">FAQ</a>
                            </li>
                            <li class="menu-item">
                                <a href="https://www.facebook.com/btbookstore1410" class="nav-link">Liên hệ</a>
                            </li>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-menu">
                        <h5 class="widget-title">Đăng ký ngay</h5>
                        <p>Đăng ký để nhận ưu đãi sớm nhất.</p>
                        <form class="d-flex mt-3 gap-0" role="newsletter">
                            <input class="form-control rounded-start rounded-0 bg-light" type="email" placeholder="abc@gmail.com" aria-label="Email Address">
                            <button class="btn btn-dark rounded-end rounded-0" type="submit">Đăng ký</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
          
    </footer>
   

@* Danh sách social*@ 
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_google_gmail"></a>
<a class="a2a_button_facebook_messenger"></a>
<a class="a2a_button_copy_link"></a>
<button id="back-to-page" onclick="window.location.href = window.location.href" class="btn-primary" style="display: none;">Quay lại</button>
</div>
<script defer src="https://static.addtoany.com/menu/page.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        //khởi tạo giá trị bằng 1
        let slideIndex = 1;
        showDivs(slideIndex);

        //số slide cần chuyển
        function plusDivs(n) {
            showDivs(slideIndex += n);
        }
        //cụ thể là n
        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        //Cập nhật chấm tròn
        function showDivs(n) {
            const x = document.getElementsByClassName("mySlides");

            const dots = document.getElementsByClassName("demo");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (let i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (let i = 0; i
                < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-white", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-white";

        }

        // Tự động chuyển slide sau 2 giây
        let autoSlideInterval = setInterval(function () {
            plusDivs(1);
        }, 2000);
    </script>


    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>
</body>
</html>

